body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: $default;
  font-size: 14px;
  line-height: 1.7;
  background-color: $background;
}

.section {
  padding: 95px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  color: $background;
  background-color: $accent;
  padding: 10px 50px;
  border-radius: 4px;
  transition: box-shadow 0.3s, display 0.3s, outline 0.3s;

  .icon--finger{
    display: none;
  }

  &:hover {
    box-shadow: 0 4px 4px 0 $header-op;

    .icon--finger{
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      right: 5px;
      bottom: 5px;
      fill: $background;
    }
  }

  &:focus  {
    outline-offset: 4px;
    outline: 1px solid $accent;
  }

  &:active {
    box-shadow: inset 0 4px 4px 0 $header-op;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-size: 36px;
  font-weight: 400;
  color: $title;
  display: block;
  text-align: center;
  margin-bottom: 50px;
}

.logo {
  display: block;
}

@import 'components/social';

.icon {
  fill: currentColor;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: $header-op;
  display: flex;

  &__item {
    position: relative;
    width: 528px;
    height: 581px;
    background-color: $background;
    margin: auto;
    box-shadow: 0 4px 4px 0 $header-op;
  }
  
  &__button {
    position: absolute;
    width: 40px;
    height: 40px; 
    top: 10px;
    right: 10px;
    outline: 1px solid $header-border;
    border-radius: 50%;
  }
}