$default: #757575;
$title: rgb(33, 33, 33);
$background: rgb(255, 255, 255);
$accent: rgb(236, 60, 5);
$border: #ECECEC;
$header: rgb(0, 0, 0);
$header-op: rgba(0, 0, 0, 0.25);
$apps: rgba(47, 48, 58, 0.6);
$team: #F5F4FA;
$shadow: rgba($header, 0.3);
$text-marker: rgb(242, 144, 64);
$overlay: rgba(47, 48, 58, 0.6);
$woverlay: rgba(255, 255, 255, 0.1);
$accent-op: rgba(236, 60, 5, 0.7);
$textmarker-op: rgba(242, 144, 64, 0.6);
