$default: #757575;
$title: #212121;
$background: #fff;
$accent: #EC3C05;
$border: #ECECEC;
$header: rgb(0, 0, 0);
$apps: rgba(47, 48, 58, 0.6);
$team: #F5F4FA;
$shadow: rgba($header, 0.3);
$text-marker: #F29040;

