@import 'reset';
@import 'vars';
@import 'global';

.header {
  border-bottom: 1px solid $border;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-right: 90px;
  }
}

.menu {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link {
    font-size: 16px;
    padding: 22px 0;
    display: inline-block;
    color: $title;
    border-radius: 2px;
    transition: color 0.3s, border-bottom 0.3s;

    &:hover {
      color: $accent;
      border-bottom: 4px solid $accent;
    }

    &.current {
      color: $accent;
      border-bottom: 4px solid $accent;
    }
  }
}

.contact {
  display: flex;

  &__item {
    position: relative;

    &:first-child {
      margin-right: 45px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    transition: color 0.3s;

    &::before {
      content: '';
      display: block;
      background-repeat: no-repeat;
      background-position: center;
      background-size: center;
      width: 16px;
      height: 16px;
      margin-right: 10px;
    }

    &--mail {

      &::before {
        background-image: url('../images/icons/envelope.svg');
      }
    }

    &--phone {

      &::before {
        background-image: url('../images/icons/smartphone.svg');
      }
    }

    &:hover {
      color: $accent;
    }
        
    &--color {
      color: $text-marker;
    }
  }
}

.hero {
  padding: 200px 0;
  background-color: $header;

  &__content {
    align-items: center;
    text-align: center;
  }

  &__text {
    color: $background;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.4;
    max-width: 675px;
    text-transform: uppercase;
    margin: 0 auto 30px;
  }
}

.skills {

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__title {
    font-weight: 700;
    color: $title;
    text-transform: uppercase;
  }
}

.services {
  padding-top: 0;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__name {
    position: absolute;
    color: $background;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    background-color: $apps;
    padding: 22px 120px;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}

.team {
  background-color: $team;
  box-shadow: 2px 3px 3px 0 $shadow;

  &__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  &__item {
    position: relative;
    width: 270px;
    z-index: 1;
    box-shadow: 2px 3px 3px 0 $shadow;
    border-radius: 4px;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      display: block;
      background-color: $background;
      width: 270px;
      height: 368px;
    }
  }

  &__img {
    margin-bottom: 30px;
  }

  &__name {
    font-size: 16px;
    color: $title;
  }

  &__position {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

.footer {
  background-color: $header;
  padding: 60px 0;

  &__contact {
    display: inline-block;
  }

  &__logo {
    margin-bottom: 23px;
  }
}

.contact {

  &__item--footer {
    margin-bottom: 9px;
    font-style: regular;
  }
}