.footer {
  background-color: $header;
  padding: 60px 0;

  &__container {
    display: flex;
  }

  &__contact {
    display: inline-block;
    align-items: baseline;
    margin-right: 30px;
  }

  &__logo {
    margin-bottom: 23px;
  }

  &__join {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  
  &__text {
    text-transform: uppercase;
    color: $background;
    margin-bottom: 20px;
  }
}

.contact {

  &__item--footer {
    margin-bottom: 9px;
    font-style: regular;
  }

  &__location {
    color: $background;
  }

  &__link--color {
    color: $text-marker;
  }
}
