.footer {
  background-color: $header;
  padding: 60px 0;

  &__container {
    display: flex;
  }

  &__contact {
    display: inline-block;
    align-items: baseline;
    margin-right: 30px;
  }

  &__logo {
    margin-bottom: 23px;
  }  

  &__join {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  
  &__text {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: $background;
    margin-bottom: 20px;
  }
}

.contact {

  &__item--footer {
    margin-bottom: 9px;
    font-style: regular;
  }

  &__location {
    color: $background;
  }

  &__link--color {
    color: $text-marker;
    position: relative;
    border: 1px solid transparent;
    border-radius:  4px;
    padding: 0 3px;
    transition: color 0.3s, border-color 0.3s, display 0.3s;

    .icon--finger {
      display: none;
    }

    &:hover {
      color: $accent;
      
      .icon--header {
        transition: fill 0.3s;
        fill: $accent;
      }

      .icon--finger {
        display: block;
        position: absolute;
        width: 16px;
        height: 16px;
        right: 0;
        bottom: -6px;
        fill: $background;
      }
    }

    &:focus {
      border-color: $accent;
    }

    &:active {
      color: $textmarker-op;
    }
  }
}
