.hero {

  &__autoplay {
    max-width: 1600px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    margin: 0 auto;

    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $overlay;
    }
  }

  &__content {
    position: absolute;
    z-index: 2;
    left: 50%;
    padding-top: 200px;
    transform: translate(-50%);
    text-align: center;
  }

  &__text {
    color: $background;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.4;
    max-width: 675px;
    text-transform: uppercase;
    margin: 0 auto 30px;  
  }

}

.skills {

  &__inner {
    display: flex;
    justify-content: space-between;
  }
  
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    width: 270px;
  }

  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $default;
    border-radius: 4px;
    height: 120px;
    width: 100%;
    margin-bottom: 30px;
  }

    &:not(:last-child) {
      margin-right: 30px;
    } 

  &__title {
    font-weight: 700;
    color: $title;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}

.services {
  padding-top: 0;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__name {
    position: absolute;
    color: $background;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    background-color: $apps;
    padding: 22px 120px;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}

.team {
  background-color: $team;

  &__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 30px;
  }

  &__item {  
    width: 270px;
    box-shadow: 2px 3px 3px 0 $shadow;
    border-radius: 4px;
    background-color: $background;
  }

  &__info {
    padding: 30px;
  }

  &__name {
    font-size: 16px;
    color: $title;
  }

  &__position {
    font-size: 16px;
    margin-bottom: 16px;
  }
}

.partners {

  &__list {
    display: flex;
  }

  &__item {
      
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  
  &__link {
    display: grid;
    place-items: center;
    border: 1px solid $default;
    border-radius: 4px;
    width: 170px;
    height: 92px;

    .icon--finger {
      display: none;
    }

    &:hover {
      border: 1px solid $accent;
      fill: $accent;

      .icon--finger {
        display: block;
        position: absolute;
        width: 16px;
        height: 16px;
        right: 5px;
        bottom: 5px;
        fill: $header;
      }
    }  
  }  
  &__icon {
    fill: $default;
  }
}