.hero {

  &__autoplay {
    max-width: 1600px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    margin: 0 auto;

    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $overlay;
    }
  }

  &__content {
    position: absolute;
    z-index: 2;
    left: 50%;
    padding: 200px 0;
    transform: translateX(-50%);
    text-align: center;
  }

  &__text {
    color: $background;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.4;
    max-width: 675px;
    text-transform: uppercase;
    margin: 0 auto 30px;
  }

  &__img {
    object-fit: cover;
  }

  .backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $header-op;
    display: flex;
    opacity: 1;
    pointer-events: all;
    transition: opacity 1s;

    &.is-hidden {
      opacity: 0;
      pointer-events: none;

      .modal {
        transform: scale(0);
      }
    }
  }
}

.modal {
  position: relative;
  max-width: 528px;
  width: 100%;
  height: 581px;
  background-color: $background;
  margin: auto;
  border-radius: 6px;
  box-shadow: 0 4px 4px 0 $header-op;
  transform: scale(1);
  transition: transform 0.5s;

  &__button {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 10px;
    outline: 1px solid $header-border;
    border-radius: 50%;
    transition: fill 0.3s, outline 0.3s, box-shadow 0.3s;

    &:hover {
      fill: $accent;
    }

    &:focus {
      outline: 1px solid $accent;
    }

    &:active {
      fill: $accent;
      box-shadow: inset 3px 3px 3px 0 $header-border;
    }
  }
}

.form-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.form {
  &__text {
    font-size: 20px;
    color: $title;
    padding-bottom: 11px;
  }

  &__label--modal {
    position: relative;
    height: 58px;
    margin-bottom: 10px;
    font-size: 12px;

    &-message {
      height: 138px;
      height: 100%;
      margin-bottom: 20px;

      .form__input--modal {
        resize: none;
        height: 120px;
        padding: 12px 16px;

        &::placeholder {
          font-size: 14px;
          color: $default-op;
        }
      }
    }

    .icon-modal {
      position: absolute;
      top: 31px;
      left: 10px;
      fill: $title;
    }
  }

  &__input--modal {
    display: block;
    width: 448px;
    border: 1px solid $title-op;
    border-radius: 4px;
    height: 40px;
    padding-left: 30px;

    &:hover {

      .icon-modal {
        fill: $accent-op;
      } 
    }

    &:focus {
      border-color: $accent;

      .icon-modal {
        fill: $accent;
        }
      }
    }
  }

  .checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 25px;

    &:hover {

      .checkbox__custom {
        background-color: $accent;
        border: 1px solid transparent;
      }
    }

    &__true {
      opacity: 0;
      pointer-events: none;
      position: absolute;
    }

    &__custom {
      position: relative;
      fill: $background;
      width: 16px;
      height: 16px;
      border: 1px solid $header;
      border-radius: 2px;
      cursor: pointer;
    }

    &__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: auto;
    }

    &__link {
      color: $accent;
      text-decoration: underline;
      border: 1px solid transparent;
      border-radius: 2px;
      transition: color 0.3s, border-color 0.3s;

      &:hover {
        color: $accent-op
      }

      &:focus {
        border-color: $accent;
      }
    }
  }

  .button-send {
    padding: 10px 70px;
  }

.skills {

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    width: 270px;
  }

  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $default;
    border-radius: 4px;
    height: 120px;
    width: 100%;
    margin-bottom: 30px;
  }

  &:not(:last-child) {
    margin-right: 30px;
  }

  &__title {
    font-weight: 700;
    color: $title;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}

.services {
  padding-top: 0;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__name {
    position: absolute;
    color: $background;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    background-color: $apps;
    padding: 22px 120px;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}

.team {
  background-color: $team;

  &__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 30px;
  }

  &__item {
    width: 270px;
    box-shadow: 2px 3px 3px 0 $shadow;
    border-radius: 4px;
    background-color: $background;
  }

  &__info {
    padding: 30px;
  }

  &__name {
    font-size: 16px;
    color: $title;
  }

  &__position {
    font-size: 16px;
    margin-bottom: 16px;
  }
}

.partners {

  &__list {
    display: flex;
  }

  &__item {

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__link {
    border: 1px solid currentColor;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $default;
    transition: color 0.3s, outline 0.3s;

    &:hover {
      color: $accent;
    }

    &:focus {
      outline-offset: 4px;
      outline: 1px solid $accent;
    }

    &:active {
      color: $accent-op;
    }
  }
}